BODY {
	BACKGROUND: #ecf4f9
}
#pageBd {
	PADDING-BOTTOM: 0px; MIN-HEIGHT: 650px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; BACKGROUND: url(content.png) no-repeat 9px 18px; PADDING-TOP: 30px; _height: 650px
}
#pageBdInt {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 310px; WIDTH: 620px; PADDING-RIGHT: 0px; ZOOM: 1; COLOR: #333; PADDING-TOP: 0px
}
#pageBdInt:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: '\0020'
}
#pageFt {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.indexDiviLine {
	BORDER-BOTTOM: #fff 1px dashed; MARGIN: 5px 0px; WIDTH: 100%; HEIGHT: 0px; OVERFLOW: hidden; BORDER-TOP: #b5d4e7 1px dashed
}
.indexWhitebBox {
	MARGIN: 5px auto
}
.indexWhitebBoxHd {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 15px; DISPLAY: block; BACKGROUND: url(whiteBox.gif) 100% 0px; PADDING-TOP: 0px
}
.indexWhitebBoxHd SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; DISPLAY: block; FONT: 0px/0 sans-serif; BACKGROUND: url(whiteBox.gif) 0px 0px; HEIGHT: 10px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.indexWhitebBoxBd {
	BORDER-BOTTOM: #d2dcec 0px solid; BORDER-LEFT: #d2dcec 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; ZOOM: 1; BACKGROUND: #fff; COLOR: #333; BORDER-TOP: #d2dcec 0px solid; BORDER-RIGHT: #d2dcec 1px solid; PADDING-TOP: 1px
}
.indexWhitebBoxFt {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 15px; DISPLAY: block; BACKGROUND: url(whiteBox.gif) 100% 100%; PADDING-TOP: 0px
}
.indexWhitebBoxFt SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; DISPLAY: block; FONT: 0px/0 sans-serif; BACKGROUND: url(whiteBox.gif) 0px 100%; HEIGHT: 10px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#page-index {
	
}
#indexLogo {
	POSITION: absolute; WIDTH: 288px; HEIGHT: 100px; OVERFLOW: hidden; TOP: 0px; LEFT: 0px
}
#indexContent {
	POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 32px; WIDTH: 224px; PADDING-RIGHT: 32px; HEIGHT: 520px; OVERFLOW: hidden; TOP: 100px; PADDING-TOP: 0px; LEFT: 0px
}
#indexWel {
	TEXT-ALIGN: center; FONT: 14px/24px Verdana, Geneva, sans-serif; HEIGHT: 24px
}
#indexLogin {
	POSITION: relative; MIN-HEIGHT: 150px; _height: 150px
}
.passportc {
	
}
.passportc .pptitle {
	DISPLAY: none
}
.passportc .ppcontent {
	
}
.passportc .error {
	LINE-HEIGHT: 18px; PADDING-LEFT: 45px; COLOR: #f30
}
.passportc .error A {
	TEXT-DECORATION: underline
}
.passportc UL.card {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.passportc UL.card LI {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LETTER-SPACING: 6px; HEIGHT: 25px; FONT-SIZE: 14px; PADDING-TOP: 5px
}
.passportc INPUT.ppinput {
	BORDER-BOTTOM: #679ab7 1px solid; BORDER-LEFT: #679ab7 1px solid; PADDING-BOTTOM: 3px; MARGIN: -2px 0px 0px 5px; PADDING-LEFT: 3px; WIDTH: 160px; PADDING-RIGHT: 3px; FONT: 12px/16px Verdana, Geneva, sans-serif; BACKGROUND: #fff; HEIGHT: 16px; COLOR: #333; VERTICAL-ALIGN: middle; BORDER-TOP: #679ab7 1px solid; BORDER-RIGHT: #679ab7 1px solid; PADDING-TOP: 3px
}
.passportc DT {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 46px; PADDING-RIGHT: 12px; LETTER-SPACING: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.passportc DT SPAN {
	MARGIN: 0px 0px 10px; DISPLAY: block
}
.passportc DT SPAN INPUT {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 3px
}
.passportc INPUT.sign {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 49px; BACKGROUND: url(button-login.gif) no-repeat; HEIGHT: 24px; COLOR: #fff; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.passportc DD {
	DISPLAY: none
}
.passportc DD A {
	MARGIN: 2px; COLOR: #fff
}
.ppselecter {
	BORDER-BOTTOM: #669bb7 1px solid; BORDER-LEFT: #669bb7 1px solid; WIDTH: 166px; FONT-FAMILY: Verdana, Geneva, sans-serif; BACKGROUND: #fff; COLOR: #666; MARGIN-LEFT: 1px; OVERFLOW: hidden; BORDER-TOP: #669bb7 1px solid; CURSOR: default; BORDER-RIGHT: #669bb7 1px solid
}
.ppselecter .ppseltit {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND: #eee; COLOR: #999; PADDING-TOP: 0px
}
.ppselecter TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.ppselecter TD TD {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 1px
}
.ppselecter .active {
	BACKGROUND: #669cb6; COLOR: #fff; CURSOR: pointer
}
.ppWaitMsg {
	 MIN-HEIGHT: 100px; BACKGROUND: url(loading.gif) no-repeat center 50%; height: 100px
}
.passportc .listContA {
	
}
.passportc .listContA UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
.passportc .middle {
	DISPLAY: none
}
.passportc .bottom {
	DISPLAY: none
}
.passportc .candle {
	DISPLAY: none
}
.passreset {
	POSITION: absolute; WIDTH: 60px; HEIGHT: 20px; TOP: 102px; LEFT: 110px
}
.passreset A {
	COLOR: #6a97ae
}
#indexHelp {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 65px; PADDING-RIGHT: 65px; HEIGHT: 40px; PADDING-TOP: 5px
}
#indexHelp A {
	COLOR: #6a97ae
}
#indexReg {
	TEXT-ALIGN: center; PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "ו"; PADDING-TOP: 20px
}
#indexReg P {
	MARGIN: 0px 0px 15px
}
#indexReg .button-reg {
	MARGIN: 0px auto; WIDTH: 100px; DISPLAY: block; FONT: 700 14px/36px Verdana, Geneva, sans-serif; BACKGROUND: url(button-reg.gif); HEIGHT: 36px; COLOR: #fff
}
#indexReg .button-reg:hover {
	TEXT-DECORATION: none
}
#indexSigned {
	BORDER-BOTTOM: #b5d4e7 1px dashed; PADDING-BOTTOM: 30px; PADDING-LEFT: 25px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
#indexSigned H3 {
	LINE-HEIGHT: 22px; MARGIN: 0px 0px 12px; FONT-WEIGHT: 400
}
#indexSigned H3 STRONG {
	FONT-WEIGHT: 700
}
#indexSigned .button {
	MARGIN: 0px
}
#indexSigned P {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 6px
}
#indexAd {
	POSITION: relative; MARGIN: 0px -30px; WIDTH: 288px; BACKGROUND: url(adImage.png) no-repeat; HEIGHT: 150px; COLOR: #666
}
#indexAd A {
	COLOR: #6a97ae
}
#indexAd H3 {
	DISPLAY: none
}
.indexAdItem {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 140px; DISPLAY: block; HEIGHT: 40px; OVERFLOW: hidden
}
#indexAd-mobile {
	TOP: 85px; LEFT: 80px
}
#indexAd-sogou {
	TOP: 45px; LEFT: 80px
}
#indexShow {
	POSITION: relative; WIDTH: 100%; OVERFLOW: hidden
}
#indexShow H3 {
	MARGIN: 0px
}
#indexMap {
	WIDTH: 605px; BACKGROUND: url(flashbg.jpg) no-repeat; HEIGHT: 302px; OVERFLOW: hidden
}
#indexApps {
	PADDING-BOTTOM: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 30px
}
#indexApps UL {
	LIST-STYLE-TYPE: none; MARGIN: 0px; ZOOM: 1; LIST-STYLE-IMAGE: none
}
#indexApps UL:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: '\0020'
}
#indexApps LI {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 10px 5px 10px 0px; PADDING-LEFT: 70px; WIDTH: 225px; PADDING-RIGHT: 0px; BACKGROUND: url(icons.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 24px; OVERFLOW: hidden; PADDING-TOP: 0px; _display: inline
}
#indexApps H5 {
	DISPLAY: none; FONT: 700 14px/24px "ו", sans-serif; HEIGHT: 24px; OVERFLOW: hidden
}
#indexApps P {
	LINE-HEIGHT: 24px; COLOR: #999; CLEAR: both
}
#indexApps #indexApp-status {
	PADDING-LEFT: 100px; WIDTH: 195px; BACKGROUND-POSITION: 0px 0px
}
#indexApps #indexApp-friends {
	BACKGROUND-POSITION: 0px -50px
}
#indexApps #indexApp-inbox {
	BACKGROUND-POSITION: 0px -100px
}
#indexApps #indexApp-feed {
	PADDING-LEFT: 85px; WIDTH: 210px; BACKGROUND-POSITION: 0px -150px
}
#indexApps #indexApp-blog {
	BACKGROUND-POSITION: 0px -200px
}
#indexApps #indexApp-album {
	WIDTH: 245px; BACKGROUND-POSITION: 0px -250px
}
#indexApps #indexApp-share {
	BACKGROUND-POSITION: 0px -300px
}
#indexApps #indexApp-gift {
	BACKGROUND-POSITION: 0px -350px
}
#indexNews {
	WIDTH: 100%; BACKGROUND: url(news.gif) no-repeat 5px 5px; HEIGHT: 50px; COLOR: #666; OVERFLOW: hidden; BORDER-TOP: #c4d7de 1px solid
}
#indexNews UL {
	LIST-STYLE-TYPE: none; MARGIN: 8px 0px 0px 145px; LIST-STYLE-IMAGE: none
}
#indexNews A {
	COLOR: #599eb8
}
#indexRegForm {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#indexRegForm .regTitle {
	PADDING-BOTTOM: 28px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; BACKGROUND: url(regForm.jpg) no-repeat; HEIGHT: 20px; COLOR: #999; PADDING-TOP: 80px
}
#indexRegForm .regContent {
	BORDER-BOTTOM: #c4d7de 1px dashed; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 20px
}
#page-regIndex #indexApps {
	PADDING-BOTTOM: 0px; HEIGHT: 164px
}
